@model List<DashboardParceiro.Models.Cadastros.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                Produtos
            </div>
            <br>
            @Html.ActionLink("Adicionar Produto", "Index", "Produto", null, new { @class = "btn btn-primary btn-large col-md-2" })
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="Itens">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Nome</th>
                                <th>Categoria</th>
                                <th>Preço</th>
                                <th>Medida</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td> @item.Codigo </td>
                                <td> @item.Descricao </td>
                                <td> @item.Categoria.Descricao </td>
                                <td> @item.PrecoVenda </td>
                                <td> @item.MedidaID </td>
                                <td>
                                    @Html.ActionLink("Editar", "Editar", new { Codigo = item.Codigo }, new { @class = "btn btn-success" })
                                    <button class="delete-modal btn btn-danger" id="Excluir" data-id="@item.Codigo">
                                        <span class="glyphicon glyphicon-trash"></span> Deletar
                                    </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>